<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.7.1" sku=".NETFramework,Version=v4.7.1"/>
    <supportedRuntime version="v4.7" sku=".NETFramework,Version=v4.7"/>
    <supportedRuntime version="v4.6.2" sku=".NETFramework,Version=v4.6.2"/>
    <supportedRuntime version="v4.5.2" sku=".NETFramework,Version=v4.5.2"/>
    <supportedRuntime version="v4.5.1" sku=".NETFramework,Version=v4.5.1"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v3.5" sku=".NETFramework,Version=v3.5"/>
    <supportedRuntime version="v3.0" sku=".NETFramework,Version=v3.0"/>
    <supportedRuntime version="v2.0" sku=".NETFramework,Version=v2.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="oiinit_bin"/>
    </assemblyBinding>
  </runtime>
</configuration>
